* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --main-color: #0ef;
    --second-bg-color: #4c4f53;
    --section-color-1: #e3e9f7;
    --section-color-2: #efeee8;
    --header: #6ec1e4;
    --white: #fff;
    --text-gray: #7A7A7A;
}

body {
    background: var(--section-color-1);
}

html {
    overflow-x: hidden;
}

/* header */

img {
    width: 100%;
}

header {
    width: 80%;
    height: 70px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 10px 10px 10px 10px;
    margin: 20px auto 0 auto;
}

.logo {
    width: 120px;
    margin-top: 8px;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li a:hover {
    background: #ede9fd;
}

nav ul li a.active {
    background: #675cff;
    color: var(--white);
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transform: 0.2s;
}

.hamburger:hover {
    background: #f6f4ff;
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}

/* section home */

section {
    padding: 1rem 9% 1rem;
}

.home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 35vw;
    border-radius: 50%;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 700;
}
  
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.3rem;
    padding-right: 25px;
    color: var(--text-gray);
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--main-color);
    margin: 2rem 1rem 2rem 0;
    transition: 0.5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    }

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none; 
}

/* about me page */

.about-me {
    position: relative;
    min-height: 100vh;
    background: url(images/about-me-background.png) fixed 25%;
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.about-me::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.about-me h1,
.about-me h2,
.about-me p {
    position: relative;
    /* z-index: 1; */
    /* text-align: center; */
}

.about-me h1,
.about-me h2 {
    color: var(--header);
    margin: 20px 0;
}

.about-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.about-header h1 {
    font-size: 2.4rem;
}

.about-me p {
    color: var(--white);
    font-size: 1.2rem;
}

.about-container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.about-container p {
    line-height: 1.5;
}

.about-text {
    flex: 1;
    margin-right: 37px;
}

.services {
    flex: 1;
    margin-left: 37px;
}

.services-header h2 {
    font-size: 2.2rem;
}

.services hr {
    margin: 10px 5px;
}

/* soft skills */

.soft-skills {
    background:	#DCDCDC;
    min-height: 45vh;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.skills-header {
    text-align: center;
    color: var(--header);
    font-size: 1.5rem;
    margin: 20px 0;
}

.skills-container {
    width: 225px;
    overflow: hidden;
    margin: 20px;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    color: var(--header);
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 700;
}

.card-content p {
    font-size: 15px;
    line-height: 1.3;
    color: var(--text-gray);
}

/* fun facts */

.fun-facts {
    background: var(--section-color-2);
    min-height: 100vh;
}

.facts-header {
    font-size: 2.4rem;
    text-align: center;
    color: var(--header);
    margin-top: 40px;
    margin-bottom: 60px;
    text-decoration: underline 4px;
}

.questions-container {
    max-width: 800px;
    margin: 0 auto;
}

.question {
    border-bottom: 1px solid #fff;
}

.question button {
    width: 100%;
    background-color: #737373;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    /* color: #fff; */
    font-weight: 700;
    cursor: pointer;
}

.question p{
    font-size: 18px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
    margin-top: 15px;
}

.question span {
    color: var(--header);
}
.d-arrow{
    transition: transform 0.5s ease-in ;
}

/* toggle */
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}

/* projects */

.projects {
    background: var(--section-color-1);
    min-height: 100vh;
}

.projects-header {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: var(--header);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 75px;
}

.projects-container .projects-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 01rem #1b1e22;
    overflow: hidden;
    display: flex;
  }

.projects-box img {
    width: 100%;
    transition: 0.5s ease;
}

.projects-box:hover img {
    transform: scale(1.1);
}

.projects-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #5233ec);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.projects-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 2rem;
    color: #fff;
}

.project-layer p {
    font-size: 1.2rem;
    margin: 0.3rem 0 1rem;
    color: #fff;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
}

.project-layer a i {
    font-size: 2rem;
    color: #4c4f53;
}


/* back to top button */

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #dc143c;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: 0.2s ease-out;
}

.back-to-top span {
    color: var(--white);
    font-size: 2rem;
}

.back-to-top:hover {
    background-color: #be1a3b;
}

.back-to-top:hover span {
    transform: translateY(-2px);
    color: var(--main-color);
}

/* footer */

footer {
    background: var(--white);
}

.footer-container {
    width: 100%;
    padding: 25px 15px 10px;
}

.icons-footer {
    display: flex;
    justify-content: center;
}

.icons-footer a {
    padding: 10px;
    background: #000;
    margin: 10px;
    border-radius: 50%;
}

.icons-footer a i {
    font-size: 1.5rem;
    color: var(--white);
    opacity: 0.9;
}

.icons-footer a:hover {
    background-color: #d1cfcf;
    transition: 0.5s;
}

.icons-footer a:hover i {
    color: #000;
    transition: 0.5s;
}

.footer-nav {
    margin: 20px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
}

.footer-nav ul li a {
    color: #000;
    margin: 20px;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    opacity: 1;
}

.footer-bottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footer-bottom p {
    color: var(--white);
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}


/* contact page */

.contact-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #3551b5),
    url(images/contact-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    color: #fff;
  }
  
form {
    width: 90%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 18px;
    position: relative;
}

.contact-input,
.contact-textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

.contact-button {
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group {
    flex-basis: 48%;
}

/* media queries */

@media only screen and (max-width: 1100px) {
    header {
        width: 90%;
        padding: 0 20px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-left: 30px;
    }
    .hamburger {
        display: block;
    }
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
      }
    
      .home-content h3 {
        font-size: 1.5rem;
      }
    
      .home-content h1 {
        font-size: 2rem;
      }
    
      .home-img img {
        width: 70vw;
        margin-top: 2rem;
      }

      .projects-container {
        grid-template-columns: 1fr;
      }

      .about-container {
        flex-direction: column;
      }

      .services {
        flex: 0;
        margin-left: 0px;
    }
}

@media (max-width: 700px) {
    .footer-nav ul {
        flex-direction: column;
    }

    .footer-nav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

@media (max-width: 365px) {
    .home-img img {
      width: 90vw;
    }
}